<% if @size != :small %>
  <% @items.each do |item| %>
    <div>
      <span class="badge <%= badge_class_for item.status %>">
        <% tag.span library_icon_for(item), class: 'material-icons' %>
        <%= t(string_for item.status) %>
      </span>
      <% if item.status == 'Available' %>
        <%= t('obtain.available_at', library: item.owning_lib, location: item.location, call_number: item.call_number) %>
      <% else %>
        <%= t('obtain.unavailable_at', library: item.owning_lib) %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @items.any? %>
  <% if @size != :small %><div><% end %>
    <%= link_to "#{t('obtain.place_hold')}  #{tag.span 'add_shopping_cart', class: 'material-icons'}".html_safe,
      url_for_evergreen_hold(@record_id), class: @btn_class, target: '_blank' %>
  <% if @size != :small %></div><% end %>
<% end %>
