    <div class="document" itemtype="http://schema.org/Thing">
      <div class="documentHeader row">

         <h5 class="index_title">
         <span class="document-counter">
         <%= article_counter.to_s + '.' if article_counter %>
         </span>
         <%= link_to article[:title], controller: 'articles', action: 'show', db: url_encode(article[:db]), id: url_encode(article[:id]) %>
        </h5>
        <div class="document-thumbnail">
        <%= link_to send(blacklight_config.view_config(document_index_view_type).thumbnail_method, article), controller: 'articles', action: 'show', db: url_encode(article[:db]), id: url_encode(article[:id]) %>
        </div>

	<%= render 'catalog/fulltext_link', document: article %>

        <dl class="document-metadata dl-horizontal dl-invert">
        <%= display_field(article, 'authors', 'Authors') %>
        <%= display_field(article, 'year', 'Pub year') %>
        <%= display_field(article, 'journal', 'Journal') %>
        <%= display_field(article, 'abstract', 'Abstract', {:snippet => true}) %>
        </dl>
      </div>
   </div>
