<div class="articles row">
  <section id="content" class="col-lg-9 order-last">
    <%= render 'catalog/constraints' %>
    <%= render partial: 'catalog/paginate_compact', object: @articles %>
    <%= render 'search_results', articles: @articles  %>
    <%= render partial: 'catalog/results_pagination', locals: {:@response => @articles} %>
  </section>
  <section id="sidebar" class="page-sidebar col-lg-3 order-first"><div id="facets" class="facets sidenav facets-toggleable-md"><%= render 'facets', facets: @facets %></div></section>
</div>
