<footer class="footer">
  <div class="container">
    <%= link_to(image_tag("blacklight/findit.png", :alt=> "Find It", :class=> "col-xs-12 col-sm-2", :style=> "max-width:196px;max-height:70px;margin-top:5px;"), "about") %>
    <%= link_to(image_tag("lbcclib.png", :alt=> "LBCC Library", :class=> "col-xs-12 col-sm-2", :style=> "max-width:196px;max-height:70px;margin-top:5px;"), "http://library.linnbenton.edu") %>
    <div class="navbar-right">
      <ul class="nav navbar-right col-offset-6">
        <li>
          <%= link_to("New search", root_path, class: 'col-xs-4 bookmarks_nav', style: "min-width:130px;") %>
          <%= link_to("Search options", advanced_search_path, class: 'col-xs-4 bookmarks_nav', style: "min-width:130px;") %>
        </li> <li>
          <%= link_to("About Find It", "about", class: 'col-xs-4 bookmarks_nav', style: "min-width:130px;") %>
        </li>
      </ul>
    </div>
  </div>
</footer>

