    <div class="document" itemtype="http://schema.org/Thing">
      <div class="documentHeader row">

         <h5 class="index_title">
         <span class="document-counter">
         <%= article_counter.to_s + '.' if article_counter %>
         </span>
         <a href="<%= article[:url] %>" target="_blank"><%= article[:title] %></a>
        </h5>
        <dl class="document-metadata dl-horizontal dl-invert">
           <%= display_article_field('Authors', article[:authors].join('; '), 'authors') %>
           <%= display_article_field('Journal', article[:journal], 'journal') %>
           <%= display_article_field('Publication year', article[:year], 'pub-date') %>
           <%= display_article_field 'Abstract', snippet({value: article[:abstract]}), 'abstract' %>
        </dl>
      </div>
   </div>
