<%= display_access_options(document, 'show') %>
<% ahoy.track 'viewed record', catalog_id: document.id %>
<h2>About this resource</h2>
<dl class="dl-horizontal  dl-invert">
  <%= display_field(document, 'title_display', 'Title', :dc_element => 'title') %>
  <%= display_field(document, 'subtitle_display', 'Subtitle', :dc_element => 'title') %>
  <%= display_field(document, 'title_vern_display', 'Title', :dc_element => 'title') %>
  <%= display_field(document, 'subtitle_vern_display', 'Subtitle', :dc_element => 'title') %>
  <%= display_field(document, 'author_display', 'Author', :search_link => true, :search_field => 'author', :search_exact_match => false, :dc_element => 'creator') %>
  <%= display_field(document, 'author_vern_display', 'Author', :dc_element => 'creator') %>
  <%= display_field(document, 'subject_topic_facet', 'Subject', :search_link => true, :search_field => 'subject', :search_exact_match => true, :dc_element => 'subject') %>
  <%= display_field(document, 'subject_geo_facet', 'Region', :search_link => true, :search_field => 'subject', :search_exact_match => false, :dc_element => 'subject') %>
  <%= display_field(document, 'subject_era_facet', 'Era', :search_link => true, :search_field => 'subject', :search_exact_match => false, :dc_element => 'subject') %>
  <%= display_field(document, 'subject_name_facet', 'People and groups', :search_link => true, :search_field => 'subject', :search_exact_match => false, :dc_element => 'subject') %>
  <%= display_field(document, 'abstract_display', 'Abstract', :dc_element => 'description') %>
</dl>

<h2>About this edition</h2>
<dl class="dl-horizontal  dl-invert">
  <%= display_field(document, 'edition_display', 'Edition statement') %>
  <%= display_field(document, 'pub_date', 'Publication year', :dc_element=>'date') %>
  <%= display_field(document, 'publisher_display', 'Publisher', :dc_element=>'publisher') %>
  <%= display_field(document, 'publisher_vern_display', 'Publisher', :dc_element=>'publisher') %>
  <%= display_field(document, 'language_facet', 'Language', :dc_element=>'language') %>
  <%= display_field(document, 'format', 'Format', :dc_element=>'type') %>
  <%= display_field(document, 'contributor_display', 'Contributors', :dc_element=>'contributor') %>
  <%= display_field(document, 'note_display', 'Note', :dc_element => 'description') %>
  <%= display_field(document, 'isbn_t', 'ISBN', :dc_element => 'identifier') %>
  <%= display_field(document, 'url_suppl_display', 'Additional information', :contains_url => true) %>
  <%= display_field(document, 'place_of_publication_display', 'Place of publication') %>
  <%= display_field(document, 'place_of_publication_vern_display', 'Place of publication') %>
  <%= display_field(document, 'publication_note_display', 'Publication details', :dc_element=>'description') %>
  <%= display_field(document, 'record_source_facet', 'Collection') %>
</dl>

