<div class="col-xs-offset-2 col-xs-8">
<%= t('blacklight.cat_about_main') %>

<h2><%= t('blacklight.cat_about_what') %></h2>
<%= t('blacklight.cat_about_included') %>
<ul>
  <li><%= t('blacklight.cat_dblist_alex') %></li>
  <li><%= t('blacklight.cat_dblist_credo') %></li>
  <li><%= t('blacklight.cat_dblist_ebrary') %></li>
  <li><%= t('blacklight.cat_dblist_ebsco') %></li>
  <li><%= t('blacklight.cat_dblist_ebscoeb') %></li>
  <li><%= t('blacklight.cat_dblist_everg') %></li>
  <li><%= t('blacklight.cat_dblist_filmsond') %></li>
  <li><%= t('blacklight.cat_dblist_gale') %></li>
  <li><%= t('blacklight.cat_dblist_galevrl') %></li>
  <li><%= t('blacklight.cat_dblist_oapubdom') %></li>

</ul>
<%= t('blacklight.cat_about_excluded') %>
<ul>
  <li><%= t('blacklight.cat_excl_rsrv') %></li>
  <li><%= t('blacklight.cat_excl_evgother') %></li>
  <li><%= t('blacklight.cat_excl_evgweb') %></li>
  <li><%= t('blacklight.cat_excl_otherj') %></li>
  <li><%= t('blacklight.cat_excl_ebgaledbjlvl') %></li>
  <li><%= t('blacklight.cat_excl_galestres') %></li>
  <li><%= t('blacklight.cat_excl_credotop') %></li>
</ul>

  <!--  ######
      ben's note:
    Can I put the <a href> tag in the string referenced at t('blacklight.cat_about_abtbackend')?
    Please look/test
        ######
  -->  
  
<h2><%= t('blacklight.cat_about_how') %></h2>
  <p><%= t('blacklight.cat_about_abtbackend').html_safe %></p>
  <p><%= t('blacklight.cat_about_sourcecode') %></p>

<h2><%= t('blacklight.cat_about_who') %></h2>
<ul>
  <li><%= t('blacklight.cat_who_rosalie') %></li>
  <li><%= t('blacklight.cat_who_many').html_safe %></li>
  <li><%= t('blacklight.cat_who_wayne').html_safe %></li>
  <li><%= t('blacklight.cat_who_countless').html_safe %></li>
</ul>

<h2><%= t('blacklight.cat_about_bugrep') %></h2>
<p><%= t('blacklight.cat_bugrep_text').html_safe %></p>

</div>
