<% if has_search_parameters? %>
  <% if articles_desired() %>
    <div class="col-md-5 col-sm-9">
      <h2>Books and media</h2>
      <i>E-books, streaming video and music, library books and more</i><br />
      <a href="<%= url_for(params.merge(show_articles: 'false')) %>" class="btn btn-default btn-lg">Search books and media</a>
        <%- if @response.empty? %>
          <%= render "zero_results" %>
        <%- elsif render_grouped_response? %>
          <%= render_grouped_document_index %>
        <%- else %>
          <%= render_document_index %>
        <%- end %>
      <a href="<%= url_for(params.merge(show_articles: 'false')) %>" class="btn btn-default">More books and media</a>
    </div>
    <div id="article-container" class="col-md-5 col-sm-9 col-md-offset-1">
      <h2>Articles</h2>
      <i>Emerging research and news articles -- great sources for your next paper</i><br />
      <a href="<%= ebscohost_interface_url() %>" class="btn btn-default btn-lg">Search articles</a>
      <div class="articles">
        <% articles = fetch_articles() %>
        <% article_counter = 1 %>
        <% articles.each do |article| %>
          <% unless article[:url].nil? %>
            <%= render partial: 'article', locals: {article: article, article_counter: article_counter} if defined?(article[:url]) %>
            <% article_counter += 1 %>
          <% end %>
        <% end %>
      </div>
      <a href="<%= ebscohost_interface_url() %>" class="btn btn-default btn-lg">More articles</a>
    </div>

  <% else %>
    <div id="sidebar" class="col-md-3 col-sm-4">
      <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-md-7 col-sm-8">
      <%= render 'search_results' %>
    </div>
<!--
    <div id="hours" class="col-md-2 col-sm-8 col-md-offset-6" style="position:fixed">
      <h3>Library hours</h3>
      <dl>
        <dt> Monday - Thursday</dt>
        <dd> 7:30 AM to 7:00 PM</dd>
        <dt> Fridays</dt>
        <dd> 7:30 AM to 5:00 PM</dd>
        <dt> Saturdays</dt> 
        <dd> 12:00 noon to 5:00 PM</dd>
      </dl>
      <h3>Get in touch</h3>
      <p>541-917-4645</p>
      <p><a href="mailto:libref@linnbenton.edu">libref@linnbenton.edu</a></p>
      <h3>Other helpful sites</h3>
      <ul>
        <li><a href="http://library.linnbenton.edu">Library Home</a></li>
        <li><a href="http://linnbenton.edu">LBCC Home</a></li>
      </ul>
    </div>
-->
  <% end %>

<% else #show home page if no search params %>
  <div id="content">
    <%= render 'home' %>
  </div>
<% end %>
