<% if has_search_parameters? %>
  <% if show_articles? %>
    <%= render 'did_you_mean' %>
  <% end %>

  <% if show_all_formats? %>
    <% current_page = params[:page].present? ? Integer(params[:page]) : 1 %>
    <% response = ArticleSearch.new params[:q], params[:search_field], current_page, params[:f], session[:article_api_connection] %>
    <% response.send_search %>
    <% @articles = response.articles %>
    <%= render 'did_you_mean' %>
    <div id="article-container" class="col-md-5 col-sm-9">
      <h2><%= t('blacklight.articles_label') %></h2>
      <i><%= t('blacklight.articles_description') %></i><br />
      <%= render 'more_articles' %>
      <div class="articles">
        <%= render 'articles/search_results', locals: {:@articles => @articles} %>
      </div>
      <%= render 'more_articles' %>
    </div>
    <div id="not-article-container" class="col-md-5 col-sm-9 col-md-offset-1">
      <h2><%= t('blacklight.solr_results_label') %></h2>
      <i><%= t('blacklight.solr_results_description') %></i><br />
      <%= render 'more_solr' %>
        <%- if @response.empty? %>
          <%= render "zero_results" %>
        <%- elsif render_grouped_response? %>
          <%= render_grouped_document_index %>
        <%- else %>
          <%= render_document_index %>
        <%- end %>
      <%= render 'more_solr' %>
    </div>

  <% else %>
    <div id="sidebar" class="col-md-3 col-sm-4">
      <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-md-7 col-sm-8">
      <%= render 'search_results' %>
    </div>
  <% end %>

<% else #show home page if no search params %>
  <div id="content">
    <%= render 'home' %>
  </div>
<% end %>
