<h2><%= t('format.articles.label') %></h2>
<%= t('format.articles.description') %>
<ol>
<% @articles.each do |article| %>
    <li><%= link_to article[:title], {controller: 'articles', action: 'show', db: article[:db], id: CGI.escape(article[:id])} %>
    <%= link_to content_tag(:span, 'open_in_new', class: 'material-icons').prepend("#{t('obtain.article')} "),
        article[:url_fulltext_display], class: 'badge badge-success' %>
    </li>
<% end %>
</ol>
<span class="material-icons">arrow_forward</span>
<%= link_to t('bento.all_articles', number: number_to_human(@num_article_hits)), request.query_parameters.merge({controller: 'articles'}) %>
