<% @articles.each_with_index do |article, article_counter| %>
  <div class="mt-4">
    <%= article_counter + 1 %>.
    <%= content_tag :span, article.first(:format), class: 'text-success text-uppercase' %>
    <h3>
        <%= link_to article[:title], {controller: 'articles', action: 'show', db: article[:db], id: CGI.escape(article[:id])} %>
    </h3>
    <%= render 'catalog/obtain_default', document: article %>
    <%= render Bento::MetadataComponent.new(document: article) %>
  </div>
<% end %>

