<% @catalog_records.each_with_index do |document, document_counter| %>
  <div class="mt-4">
    <%= document_counter + 1 %>.
    <%= content_tag :span, document.first(:format), class: 'text-success text-uppercase' %>
  </div>
  <h3>
    <%= link_to document.first(:title_display), search_state.url_for_document(document) %>
  </h3>
  <%= render 'catalog/obtain_default', document: document %>
  
  <%= render Bento::MetadataComponent.new(document: document) %>
<% end %>