<div class="row large-search-container">
   <form id="home-bento-search" class="container-fluid" method="get" action="search">
      <fieldset> 
        <div class="row align-items-center vertical-center">
          <%= text_field_tag :q, '', id: 'home-searchbox', class: "form-control form-control-lg col-lg-12 col-md-9", 'aria-label' => "search terms", autofocus: true, data: { autocomplete_enabled: true, autocomplete_path: url_for(controller: 'catalog', action: :suggest) }  %>
          <input name="locale" type="hidden" value="<%= I18n.locale %>" />
          <input name="search_field" type="hidden" value="all_fields" id="search_field" />
          <div class="col-6 col-md-3 btn-group">
            <button type="submit" class="btn btn-success btn-lg" id="home-search-button" style="white-space: normal;">
              <%= t('blacklight.search.form.submit') %>
              <%= white_icon 'magnify' %>
            </button>
            <button class="btn btn-success btn-lg dropdown-toggle dropdown-toggle-split" type="button" id="searchOptionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              aria-label="<%= t('bento.search_options') %>">
            </button>
            <div class="dropdown-menu" aria-labelledby="searchOptionsButton">
              <span class="form-check dropdown-item">
                <input class="form-check-input" name="showArticles" type="checkbox" id="showArticles" checked>
                <label class="form-check-label" for="showArticles">
                  <%= t('bento.include_articles') %>
                </label>
              </span>
              <span class="form-check dropdown-item">
                <input class="form-check-input" name="showCatalog" type="checkbox" id="showCatalog" checked>
                <label class="form-check-label" for="showCatalog">
                  <%= t('bento.include_catalog') %>
                </label>
              </span>
              <div class="dropdown-divider"></div>
              <% search_fields.each do |field| %>
                <button class="btn-light dropdown-item" onclick="document.getElementById('search_field').setAttribute('value', '<%= field[1] %>');">
                  Search <%= field[0] %>
                </button>
              <% end %>
            </div>
          </div>
        </div>

      </fieldset>
   </form>
</div>
