<%= render 'catalog/did_you_mean' %>
<%- if no_results? %>
  <%= render 'catalog/zero_results' %>
<%- else %>
  <div class="row">
    <section id="content" class="col-lg-9 order-last">
      <%= render 'articles_results' %>
      <hr>
      <%= render 'catalog_results' %>
    </section>
    <%= render 'facets' %>
  </div>
<%- end %>
